/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Noto Sans", sans-serif;
}
